@import '../../_variables.scss';

.Color {
  position: absolute;
  bottom: -6rem;
  margin: auto;
  width: 70%;
  height: 5rem;
  border-radius: 1rem;
  background-color: var(--dark-gray-3);
}

.Color .buttons {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.Color .buttons > div {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.Color .buttons .blue-btn {
  background-color: var(--blue);
}
.Color .buttons .blue-btn:hover {
  box-shadow: 1px 2px 5px 3px var(--blue-opaque);
}

.Color .buttons .yellow-btn {
  background-color: var(--yellow);
}
.Color .buttons .yellow-btn:hover {
  box-shadow: 1px 2px 5px 3px var(--yellow-opaque);
}

.Color .buttons .pink-btn {
  background-color: var(--pink);
}
.Color .buttons .pink-btn:hover {
  box-shadow: 1px 2px 5px 3px var(--pink-opaque);
}

.Color .buttons .green-btn {
  background-color: var(--green);
}
.Color .buttons .green-btn:hover {
  box-shadow: 1px 2px 5px 3px var(--green-opaque);
}

.Color .buttons .teal-btn {
  background-color: var(--teal);
}
.Color .buttons .teal-btn:hover {
  box-shadow: 1px 2px 5px 3px var(--teal-opaque);
}

.Color .buttons .orange-btn {
  background-color: var(--orange);
}
.Color .buttons .orange-btn:hover {
  box-shadow: 1px 2px 5px 3px var(--orange-opaque);
}

.Color .buttons .zero-btn {
  background-color: var(--dark-gray-2);
}
.Color .buttons .zero-btn:hover {
  box-shadow: 1px 2px 5px 3px var(--dark-opaque);
}
