@import '../root.css';

.Filters {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-opaque);
}

.Filters .filters-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  width: 60%;
  height: 40%;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--dark);
  box-shadow: 0px 3px 15px 3px var(--light-opaque);
}

.Filters .filters-container .filter-sort {
  display: flex;
  flex-direction: column;
}
.Filters .filters-container .filter-sort .filter-sort-title {
  text-align: center;
  font-family: var(--poppins);
  color: var(--light);
  margin: 0;
  padding: 0.5rem;
}
.Filters .filters-container .filter-sort .filter-sort-container {
  display: grid;
  grid-template-columns: repeat(6, 0.25fr 1fr);
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.Filters .filters-container .filter-sort .filter-sort-container > input {
  margin: 0;
  padding: 0;
}
.Filters .filters-container .filter-sort .filter-sort-container > label {
  margin: 0;
  padding: 0;
  text-align: start;
  font-family: var(--poppins);
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-gray-3);
  align-self: center;
}

.Filters .filters-container .filter-show {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.Filters .filters-container .filter-show .filter-show-title {
  text-align: center;
  font-family: var(--poppins);
  color: var(--light);
  margin: 0;
  padding: 0.5rem;
}
.Filters .filters-container .filter-show .filter-show-container {
  display: grid;
  grid-template-columns: repeat(5, 0.5fr 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  margin: 0;
  padding: 0;
}
.Filters .filters-container .filter-show .filter-show-container > input {
  margin: 0;
  padding: 0;
  width: 50%;
  height: 50%;
  justify-self: center;
  align-self: center;
}
.Filters .filters-container .filter-show .filter-show-container > label {
  margin: 0;
  padding: 0;
  text-align: start;
  font-family: var(--poppins);
  font-size: 1rem;
  font-weight: 500;
  color: var(--light-gray-3);
  align-self: center;
}

.Filters .filters-container .filter-close {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--red-p);
}
.Filters .filters-container .filter-close > h1 {
  font-family: var(--poppins);
  font-size: 1rem;
  font-weight: 500;
  color: var(--light);
}
