:root {
  /* BASE COLORS */
  --dark: #272727;
  --light: #f5f5f5;
  --white: #ffffff;
  --black: #000000;

  /* ACCENT COLORS */
  --blue: #4242ff;
  --yellow: #ecec1c;
  --pink: #d82f8c;
  --green: #20a820;
  --teal: #17afaf;
  --orange: #e7a936;
}
